<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="75"
    android:versionName="1.6.0"
    package="br.com.rory.electro">
    <uses-sdk
        android:minSdkVersion="25"
        android:targetSdkVersion="25"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <permission
        android:name="br.com.rory.electro.PERMISSION_LOAD_SEAT_MEMORY"
        android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="br.com.rory.electro.MyApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name="br.com.rory.electro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="br.com.rory.electro.service.ServiceLauncherActivity"
            android:exported="true"/>
        <activity
            android:name="br.com.rory.electro.activity.init.DevToolsActivity"
            android:exported="false"/>
        <activity
            android:name="br.com.rory.electro.activity.init.EnableUSBDebugActivity"
            android:exported="false"/>
        <activity
            android:name="br.com.rory.electro.activity.init.ADBAuthActivity"
            android:exported="false"/>
        <activity
            android:name="br.com.rory.electro.activity.init.EnableAutoStartActivity"
            android:exported="false"/>
        <activity
            android:name="br.com.rory.electro.activity.update.UpdateAvailable"
            android:exported="false"/>
        <activity
            android:name="br.com.rory.electro.activity.update.UpdateRequired"
            android:exported="false"/>
        <activity
            android:name="br.com.rory.electro.activity.update.LicenseExpired"
            android:exported="false"/>
        <activity
            android:name="br.com.rory.electro.activity.main.SettingsActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="br.com.rory.electro.activity.sentry.SentryMessageActivity"
            android:exported="true"/>
        <service
            android:name="br.com.rory.electro.service.MainService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="br.com.rory.electro.service.RestarterJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver
            android:name="br.com.rory.electro.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="9900">
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="br.com.rory.electro.receiver.LoadSeatMemoryReceiver"
            android:permission="br.com.rory.electro.PERMISSION_LOAD_SEAT_MEMORY"
            android:exported="true">
            <intent-filter>
                <action android:name="br.com.rory.electro.LOAD_SEAT_MEMORY"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:authorities="br.com.rory.electro.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>
